.window {
  width: 349px;
  height: 349px;
  border: 8px solid #aaca90;
  box-shadow: inset 2px 2px 6px rgb(0, 0, 0, 0.3);
  border-radius: 8px;
  position: absolute;
  overflow: hidden;
  top: 95px;
  left: 45px;
};


.window .img {
  object-fit: cover;
}

.window .background {
  width: 349px;
  height: 349px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.window .animal {
  width: 349px;
  height: 349px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.window .accessory {
  width: 349px;
  height: 349px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.window .extras {
  width: 349px;
  height: 349px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
