.options-window {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 510px;
  width: 500px;
  background-color: #eccddd;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.3);
  right: 45px;
  top: 95px;
}