@font-face {
  font-family: 'Naturaly';
  src: url(../assets/Naturaly.otf) format('opentype');
}

.options-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 510px;
  width: 500px;
  background-color: #eccddd;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.3);
  right: 45px;
  top: 95px;
}

.section-title {
  font-family: 'Naturaly';
  font-size: 2em;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 50, 0, 0.4);
}